@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Home" asp-action="CallingAzureApp">Get Azure Call</a>
    <a asp-controller="Home" asp-action="PostCallingAzureApp">Post Azure Call</a>
</div>

